<div class="empty-hint-container">
  <section class="empty-hint">
    <div class="empty-hint-info">
      <img src="../../../../../assets/Images/png/curriculum-empty.png" alt="empty-hint-image">
      <h2>No Curriculum Items Created Yet</h2>
      <p>
        You haven’t added any curriculum items to your
        training program. Click 'Add Curriculum' to start
        organizing and structuring your training content.
      </p>
    </div>
    <button type="button" class="add-btn" matRipple (click)="navigateToCreate()">
      Add Curriculum
    </button>
  </section>
</div>
