<p-tabView>
    <p-tabPanel header="Assignments">
        <div>
            <router-outlet></router-outlet>
            <!-- <app-view-assignments
                *ngIf="hasGraded"
                [cardType]="'Graded Assignments'"
            /> -->
            <!-- <app-view-assignments
                *ngIf="hasUngraded"
                [cardType]="'Ungraded Assignments'"
            /> -->
            
            <!-- <div class="container"
            *ngIf="!hasGraded && !hasUngraded"
            >
                <div class="no-data">
                    <img src="../../../../assets/Images/png/add-trainee.png" alt="no assessment">
                    <h2>No Assessments to grade</h2>
                    <p>There are currently no accessments to grade. Kindly create assessments in the assessment panel</p>
                </div>
            </div> -->
        </div>
    </p-tabPanel>
    
    <p-tabPanel header="Grade History">
        <p>
            <!-- <app-view-grade-history /> -->
        </p>
    </p-tabPanel>
</p-tabView>


