<form class="quiz-creation" [formGroup]="quizForm" (ngSubmit)="submitQuiz()">
  <!-- Header Section -->
  <header class="header">
    <div class="answer-type">
      <span>Answer Type</span>
      <strong>Multichoice Answer</strong>
    </div>
    <div class="header-actions">
      <div class="actions">
        <button class="action-button" aria-label="Undo">
          <mat-icon>undo</mat-icon>
        </button>
        <button class="action-button" aria-label="Redo">
          <mat-icon>redo</mat-icon>
        </button>
      </div>
      <div class="time-frame">
        <span>Time frame</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
    </div>
  </header>

  <!-- Title Section -->
  <section class="quiz-title">
    <h1>{{ quizTitle }}</h1>
  </section>

  <!-- Main Content -->
  <div class="content">
    <!-- Question List -->
    <aside class="question-list">
      <div class="question_number">
        <p class="active-question">Questions</p>

        <button
          class="add-question"
          type="button"
          aria-label="Add Question"
          (click)="addQuestion()"
        >
          +
        </button>
      </div>
      <ul>
        <app-question-list-item
          *ngFor="let question of questions.controls; let i = index"
          [questionNumber]="i + 1"
          [timestamp]="question.get('timestamp')?.value"
          (click)="selectQuestion(i)"
          [class.active]="selectedQuestionIndex === i"
        ></app-question-list-item>
      </ul>
    </aside>

    <!-- Question Editor -->
    <div
      class="question-editor"
      *ngIf="selectedQuestionIndex !== null && questions.length > 0"
      [formGroup]="questions.at(selectedQuestionIndex)"
    >
      <h3>State your Question</h3>
      <textarea class="question-input" formControlName="text"></textarea>

      <div class="answers" formArrayName="answers">
        <app-answer
          class="answer"
          *ngFor="let answer of answers.controls; let i = index"
          [option]="getOption(i)"
          [answer]="answer.value"
          [index]="i"
          (deleteAnswer)="removeAnswer(selectedQuestionIndex, i)"
          (answerChange)="updateAnswer(selectedQuestionIndex, i, $event)"
        />
      </div>
      <p *ngIf="answers.length === 0" class="error">Add at least one answer.</p>

      <!-- Add New Answer -->
      <div class="col-2">
        <button
          class="add-answer"
          type="button"
          (click)="addAnswer(selectedQuestionIndex)"
        >
          + Add new Answer
        </button>
        <div class="mark-div">
          <app-input-field placeholder="Add mark" />
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <button class="save" type="button" (click)="save()">Save</button>
    <button class="submit" type="submit">Submit</button>
  </div>
</form>
