<section class="discover content-container home-section">
  <h1 class="section-title">
    Discover how Traning<span class="text-primary">Suite</span> Can Power Your
    Learning
  </h1>

  <div class="discover-cards">
    <!-- card -->
    <div class="discover-card">
      <h3>Customized Learning Path</h3>
      <p>
        Tailor learning materials and modules based on each trainee's
        specialization and progress.
      </p>

      <div class="link-section">
        <a href="#" class="link-secondary"> Explore Customize Learning Path </a>
        <img
          src="assets/Images/svg/right-arrow-primary.svg"
          alt="arrow-right"
        />
      </div>
    </div>
    <div class="discover-card">
      <h3>Progress Tracking</h3>
      <p>
        Trainers can monitor trainee performance and provide feedback instantly,
        keeping everyone on track.
      </p>

      <div class="link-section">
        <a href="#" class="link-secondary"> Explore Customize Learning Path </a>
        <img
          src="assets/Images/svg/right-arrow-primary.svg"
          alt="arrow-right"
        />
      </div>
    </div>

    <!-- card -->
    <div class="discover-card">
      <h3>Centralized Curriculum</h3>
      <p>
        Organize courses, modules, and learning resources in one place, allowing
        for efficient access
      </p>

      <div class="link-section">
        <a href="#" class="link-secondary"> Explore Customize Learning Path </a>
        <img
          src="assets/Images/svg/right-arrow-primary.svg"
          alt="arrow-right"
        />
      </div>
    </div>
  </div>
</section>
