<div class="list-item">
  <span class="curriculum-index">#{{ curriculumIndex + 1}}</span>
  <div class="curriculum-info">
    <span class="curriculum-txt-1">{{ curriculum.title }}</span>
    <span class="curriculum-txt-2">{{ curriculum.modules.length }}</span>
    <span class="curriculum-txt-3">{{ curriculum.topics.length }}</span>
    <span class="curriculum-txt-4">{{ curriculum.assignedSpecialization }}</span>
  </div>

  <app-options-dropdown class="options"
    [isActive]="isDropdownActive"
    [options]="dropdownOptions"
    (toggle)="toggleDropdown($event)"
    (optionSelected)="handleOptionSelect($event)">
  </app-options-dropdown>
</div>
