@use '../../../../../../styleSheet/mixins' as *;
@use '../../../../../../styleSheet/variables' as *;

.list-item{
  margin-top: 1.6rem;
  @include flexbox($align:center);
  height: 3.9rem;
  color: $clr-gray-500;

  .curriculum-info{
    margin-left: 5.6rem;
    @include flexbox;
    cursor: pointer;
    gap: 4.64rem;

    span{
      font-size: $font-size-body;
    }

    .curriculum-txt-1{
      width: 20.9rem;
    }
    .curriculum-txt-2{
      width: 9.9rem;
    }
    .curriculum-txt-3{
      width: 10.8rem;
    }
    .curriculum-txt-4{
      width: 18rem;
    }

  }

  .options{
    margin-left: 7rem;
  }
}
