@use '../../../../../styleSheet/typography' as *;
@use '../../../../../styleSheet/mixins' as *;
@use '../../../../../styleSheet/variables' as var;

form{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-height: 78vh;
  .create-info-head {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    h3{
      color: var.$clr-gray-800;
    }

    p{
      color: var.$clr-gray-500;
    }
  }

  button {
    border-radius: .8rem;
    border: none;
    height: 5.5rem !important;
    cursor: pointer;
    color: var.$clr-gray-500;
  }

  .scrollable-content{
    overflow-y: auto;
    padding-right: 1.6rem;
    @include flexbox($direction: column);
    @include custom-scrollbar;
    gap:1.5rem;
    .spec-type-field {
      display: flex;
      flex-direction: column;
      gap: .8rem;

      .field-title{
        width: 100%;
        @include flexbox($justify:space-between);
        h4{
          color: var.$clr-gray-700;
          font-size: 1.8rem;
        }
      }

      p{
        color: var.$clr-gray-500;
        font-size: 1.4rem;
      }

      span {
        align-self: flex-end;
        color: #E42514;
        font-weight: 600;
        font-size: 2rem;
      }

      input {
        height: 5.5rem;
      }

      .skill-input-container{
        margin-bottom: .8rem;
        display: flex;
        gap: .5rem;
        .close{
          cursor: pointer !important;
        }
      }

      .add-skill-btn{
        font-weight: 400;
        span{
          display: flex !important;
          justify-content: center !important;
        }
        background-color: #f0f0f0;
      }
    }

    textarea, input {
      &:focus-within {
        outline: none;
        border-color: darken(#F98416, 5%);
      }

      &::placeholder{
        color: #a3a3a3;
        font-family: $font-lato !important;
        font-size: 1.4rem !important;
      }
      font-size: 1.6rem;
      color: #a3a3a3;
      width: 100% !important;
      border-radius: .8rem;
      padding: 1.2rem;
      border: 1px solid #E0E0E0;
    }
  }

  .button-container{
    width: 100%;
    background-color: transparent;
    margin-top: auto;
    .add-spec-btn {
      background-color: #F98416 !important;
      color: #fff;
      width: 100%;
      font-weight: 700;
    }

    .add-spec-btn[disabled] {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
}
