<div class="user-creation__container">
  <div class="user-creation__wrapper">
    <div class="user-creation__text">
      <div class="logo">
        <img src="assets/Images/svg/logo.svg" alt="" />
        <p>Training<span>Suit</span></p>
      </div>
      <div class="description">
        <h3>Login</h3>
        <p>Enter your credentials to access your account</p>
      </div>
    </div>
    <form
      class="user-creation__form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="inputs">
        <app-input-field
          label="Email"
          type="email"
          placeholder="Enter email here"
          formControlName="email"
        />
        <app-message
          *ngIf="
            loginForm.get('email')?.hasError('required') &&
            (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)
          "
          type="warning"
          title="Warning"
          message="Email is required."
        />

        <app-message
          *ngIf="
            loginForm.get('email')?.hasError('email') &&
            (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)
          "
          type="error"
          title="Error"
          message="Please check, you entered a wrong email."
        />

        <app-input-field
          label="Password"
          type="password"
          placeholder="**********"
          formControlName="password"
        />

        <app-message
          *ngIf="
            loginForm.get('password')?.hasError('required') &&
            (loginForm.get('password')?.touched ||
              loginForm.get('password')?.dirty)
          "
          type="error"
          title="Error"
          message="Please check, you entered a wrong password"
        />
        <app-message
          *ngIf="successMessage"
          type="success"
          title="Success"
          [message]="successMessage"
        />
        <app-message
          *ngIf="errorMessage"
          title="Error"
          type="error"
          [message]="errorMessage"
        />
      </div>

      <div class="button-div">
        <a routerLink="/auth/forgot-password" class="forgot-password"
          >Forgot Password?</a
        >
        <button
          class="btn"
          [class]="isLoading ? 'load' : ''"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          <ng-container *ngIf="!isLoading"> Login </ng-container>
          <ng-container *ngIf="isLoading">
            <span class="spinner"></span>
            <span> Submitting </span>
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</div>
