@mixin flexbox(
  $direction: row,
  $justify: flex-start,
  $align: stretch,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin formInputError(
  $width: 100%,
  $color,
  $background,
  $radius: 0.8rem,
  $padding: 1.2rem
) {
  width: $width;
  color: $color;
  background-color: $background;
  border-radius: $radius;
  padding: $padding;
}

@mixin dropDownVisible {
  width: 12.5rem;
  padding: 1rem 0.4rem;
  background: $clr-white;
  border: 0.1rem solid $clr-gray-100;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  z-index: 3;
  right: 0rem;
  top: 3rem;
  transition: $btn-transition;

  & span {
      display: flex;
      gap: 1rem;
      color: $clr-gray-400;
      font-size: $font-size-xbody;
  }

  & span:hover {
    color: $clr-primary-500;

    & svg {
      path {
        fill: $clr-primary-500;
      }
    }
  }
}


@mixin dropDownNotVisible {
  display: none;

  & span {
      display: none;
  }
}

@mixin pop-in-animation {
  @keyframes popIn {
    0% {
      opacity: 0;
      transform: scale(0.7) translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
}
