
@use "../../../styleSheet/variables" as *;
@use "../../../styleSheet/mixins" as *;
@use "../../../styleSheet/button" as *;

.common-container {
  width: 100%;
  height: 100vh;
  background-color: $clr-body;
  @include flexbox(column, center, center);
  z-index: 10;
}

.common-wrapper {
  @include flexbox(column);
  width: 57.9rem;
  background-color: $clr-white;
  padding: 5.6rem;
  gap: 3.6rem;
  border: 1px solid #f0f0f0;
  border-radius: 0.4rem;
}

.common-text {
  width: 100%;
}

.common-form {
  width: 100%;
  @include flexbox(column);
  gap: 4rem;
}

.common-inputs {
  @include flexbox(column);
  gap: 1.6rem;
}

.common-button-div {
  width: 100%;
  @include flexbox(column, center, center);
  gap: 1.6rem;
}

.common-btn {
  @include flexbox(row, center, center);
  gap: 1rem;

  & .spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  &:disabled {
    background-color: #80808018;
    cursor: not-allowed;
  }

  &.load {
    background-color: $clr-primary-500;
  }
}
