// colors
$clr-white: #ffffff;
$clr-body: #fcfcfc;

// primary color - orange
$clr-primary-50: #fef2e6;
$clr-primary-100: #fee7d2;
$clr-primary-200: #fdcda1;
$clr-primary-300: #fbb574;
$clr-primary-400: #fa9b42;
$clr-primary-500: #f98416;
$clr-primary-600: #d16805;
$clr-primary-700: #9f4f04;
$clr-primary-800: #683403;
$clr-primary-900: #371b01;
$clr-primary-950: #190c01;

// text - grey color
$clr-gray-50: #f0f0f0;
$clr-gray-100: #e0e0e0;
$clr-gray-200: #c2c2c2;
$clr-gray-300: #a3a3a3;
$clr-gray-400: #858585;
$clr-gray-500: #676767;
$clr-gray-600: #525252;
$clr-gray-700: #3d3d3d;
$clr-gray-800: #292929;
$clr-gray-900: #141414;
$clr-gray-950: #0a0a0a;

// success - green
$clr-green-50: #e1ffe6;
$clr-green-100: #c7ffd1;
$clr-green-200: #8ffea4;
$clr-green-300: #52fe72;
$clr-green-400: #1bfe44;
$clr-green-500: #01e02a;
$clr-green-600: #01b221;
$clr-green-700: #018419;
$clr-green-800: #005b11;
$clr-green-900: #002e09;
$clr-green-950: #001404;

// error - red
$clr-red-50: #fde9e8;
$clr-red-100: #fbd4d0;
$clr-red-200: #f6a49d;
$clr-red-300: #f2796e;
$clr-red-400: #ee4d3f;
$clr-red-500: #e42514;
$clr-red-600: #b71e10;
$clr-red-700: #88160c;
$clr-red-800: #590f08;
$clr-red-900: #2f0804;
$clr-red-950: #170402;

// warning - yellow
$clr-yellow-50: #fffae0;
$clr-yellow-100: #fff6c7;
$clr-yellow-200: #ffeb8a;
$clr-yellow-300: #ffe252;
$clr-yellow-400: #ffd91a;
$clr-yellow-500: #ddba00;
$clr-yellow-600: #b39500;
$clr-yellow-700: #856f00;
$clr-yellow-800: #574800;
$clr-yellow-900: #2e2600;
$clr-yellow-950: #141100;

// information - blue
$clr-blue-50: #e0edff;
$clr-blue-100: #c7ddff;
$clr-blue-200: #8ab9ff;
$clr-blue-300: #5297ff;
$clr-blue-400: #1a75ff;
$clr-blue-500: #0058dd;
$clr-blue-600: #0047b3;
$clr-blue-700: #003585;
$clr-blue-800: #002357;
$clr-blue-900: #00122e;
$clr-blue-950: #000814;

// font sizes
// headings
$font-size-h1: 48px;
$font-size-h2: 44px;
$font-size-h3: 40px;
$font-size-h4: 36px;
$font-size-h5: 32px;
$font-size-h6: 28px;

$font-size-title: 24px;
$font-size-subtitle: 20px;
$font-size-subtitle-2: 18px;
$font-size-body: 16px;
$font-size-xbody: 14px;
$font-size-label: 12px;

// font family
$font-lato: "Lato", sans-serif;

// btn click transitions
$btn-transition: .2s ease;
