<div class="input-container">
  <div class="label">
    <label [attr.for]="uniqueId">{{ label }}</label>
    <ng-container *ngIf="required">
      <span class="required">*</span>
    </ng-container>
  </div>
  <div class="input-wrapper">
    <input
      [type]="type === 'password' && isPasswordVisible ? 'text' : type"
      [placeholder]="placeholder"
      [(ngModel)]="value"
      [attr.aria.label]="label"
      [id]="uniqueId"
      [disabled]="disabled"
    />

    @if (type === 'password') {
    <button
      type="button"
      (click)="togglePasswordVisibility()"
      class="toggle-icon"
    >
      <!-- Show Password Icon -->
      <div *ngIf="!isPasswordVisible">
        <img src="assets/Images/svg/show-password.svg" alt="" />
      </div>

      <!-- Hide Password Icon -->
      <div *ngIf="isPasswordVisible">
        <img src="assets/Images/svg/hide-password.svg" alt="" />
      </div>
    </button>
    }
  </div>
</div>
