@use '../../../../../styleSheet/variables' as *;
@use '../../../../../styleSheet/mixins' as *;


::ng-deep .custom-table {
  font-family: $font-lato;

  .header-cell {
    padding-block: 1.05rem;
    font-size: 1.6rem;
    background-color: #f8f8f8;
    padding: 1rem;
    font-weight: 400;
    color: $clr-gray-700;
    text-transform: titlecase;
    letter-spacing: 0.5px;
    white-space: nowrap;
    text-align: left;
    height: 4rem;
  }

  tr:first-child {
    td {
      // margin-top: 4rem;
    }
  }

  tr {
    td {
      font-size: 1.6rem;
      padding: 1rem;
      border-bottom: 1px solid #e9ecef;
      height: 6.3rem;

    }

    .profile-name{
      @include flexbox($align:center);
      gap: 1rem;
      img{
        height: 4rem;
      }

    }

    &:hover {
      background-color: #f8f9fa;
    }
  }

  .p-progressbar {
    height: 0.8rem;
    width: 13rem;


    .p-progressbar-value {
      background: #01E02A !important;
    }
  }
}
