<div class="user-creation__container">
  <div class="user-creation__wrapper">
    <app-shared-layout [formGroup]="userCreationForm" (ngSubmit)="onSubmit()">
      <div header>
        <h3>Reset Your Password</h3>
        <p>
          Enter new password to gain full control of your account. Enter required
          details to proceed
        </p>
      </div>
      <div inputs>
        <app-input-field
          label="New Password"
          type="password"
          placeholder="Enter new password"
          formControlName="password"
        />
        <app-message
          *ngIf="showPasswordError"
          type="warning"
          title="Password requirement"
          [message]="[
            'Your password must be at least 8 characters long.',
            'And include a mix of letters, numbers, and symbols'
          ]"
        />
        <app-input-field
          label="Confirm Password"
          type="password"
          placeholder="Confirm new password"
          formControlName="confirmPassword"
        />
        <app-message
          *ngIf="userCreationForm.errors?.['mismatch'] &&
          (userCreationForm.get('confirmPassword')?.touched ||
          userCreationForm.get('confirmPassword')?.dirty)"
          type="error"
          title="Error"
          message="The password entered doesn't match"
        />
        <app-message
          *ngIf="successMessage"
          type="success"
          title="Success"
          [message]="successMessage"
        />
        <app-message
          *ngIf="errorMessage"
          title="Error"
          type="error"
          [message]="errorMessage"
        />
      </div>
      <div buttons>
        <button
          class="btn"
          [class]="isLoading ? 'load' : ''"
          type="submit"
          [disabled]="userCreationForm.invalid"
        >
          <ng-container *ngIf="!isLoading"> Submit </ng-container>
          <ng-container *ngIf="isLoading">
            <span class="spinner"></span>
            <span> Submitting </span>
          </ng-container>
        </button>
        <p>Need help? <span>Please contact support</span></p>
      </div>
    </app-shared-layout>
  </div>
</div>
