<li (click)="onToggleDropdown($event)">
  <div class="specialization-info">
    <div class="date-section">
      <img src="../../../../../assets/Images/svg/date-icon.svg" alt="">
      <p>
        Created on
        {{ specialization.createdAt| date: 'shortDate' }}
      </p>
      <button type="button" class="options" (click)="onToggleDropdown($event)">
        <img src="../../../../../assets/Images/svg/options-icon.svg" alt="">
      </button>
      <div class="options-dropdown" *ngIf="isDropdownActive">
        <button type="button" (click)="onActionClick($event, 'update')">
          <img src="../../../../../assets/Images/svg/update.svg" alt="">
          Update
        </button>
        <button type="button" (click)="onActionClick($event, 'delete')">
          <img src="../../../../../assets/Images/svg/spec-delete.svg" alt="">
          Delete
        </button>
      </div>
    </div>
    <div class="specialization-details">
      <h3>{{ specialization.name }}</h3>
      <p>{{ specialization.description }}</p>
    </div>
  </div>
  <div class="applicants-info">
    @if(specialization.traineeCount){
    <div class="profiles">
      <ng-container *ngFor="let item of [].constructor(Math.min(specialization.traineeCount, 4)); let i = index">
        <img src="https://avatar.iran.liara.run/public" alt="">
      </ng-container>
    </div>
    <p class="enrolled">{{ specialization.traineeCount }}+ Trainee(s) enrolled</p>
    } @else {
      <img src="https://avatar.iran.liara.run/username?username=[firstname+lastname]" alt="">
      <p class="enrolled">0+ Trainees enrolled</p>
    }
  </div>
</li>
