<p-dialog
      [(visible)]="visible"
      [modal]="true"
      [style]="{ width: '629px' }"
      [draggable]="false"
      [resizable]="false"
      styleClass="feedback-dialog"
      [closeOnEscape]="true"
      [dismissableMask]="true"
      (onHide)="close()">
  <div class="delete-container feedback-container">
    <div class="delete-info feedback-info">
      <img src="../../../../../assets/Images/svg/delete-feedback.png" alt="">
      <h3>{{ title }} deleted successfully</h3>
      <p>
        {{ description}}
      </p>
    </div>
  </div>
</p-dialog>
