@import "../../../../../styleSheet/variables";
@import "../../../../../styleSheet/mixins";

.container {
  width: 100%;
  height: 90vh;
  background: $clr-white;

  & .list-wrapper {
    @include flexbox(column, flex-start, center);
    gap: 2rem;
    width: 100%;
    height: 100%;
    padding: 2.5rem 2rem;

    .trainers-length {
      @include flexbox(row, space-between, center);
      width: 100%;

      .col-1 {
        @include flexbox(row, space-between, center);
        gap: 1.5rem;
      }
    }

    .trainers {
      @include flexbox(column, flex-start, center);
      width: 100%;
      gap: 1rem;

      & .headers {
        width: 100%;
        @include flexbox(row, flex-start, center);
        font-size: $font-size-subtitle-2;
        font-weight: 600;
        color: $clr-gray-700;
        background-color: #f8f8f8;
        padding: 0.5rem 2rem;

        & div:nth-child(1) {
          width: 20%;
        }

        & div:nth-child(2) {
          width: 40%;
        }

        & div:nth-child(3) {
          width: 20%;
        }

        & div:nth-child(4) {
          width: 20%;
        }
      }

      .trainers-list {
        width: 100%;
        @include flexbox(column, flex-start, flex-start);
        gap: 2rem;

        .trainer {
          width: 100%;
          @include flexbox(row, flex-start, flex-start);
          padding: 2rem 2rem;
          border-bottom: 2px solid $clr-gray-50;
          color: #676767;
          font-size: 1.6rem;

          & div:nth-child(1) {
            width: 20%;
          }

          & div:nth-child(2) {
            width: 40%;
          }

          & div:nth-child(3) {
            width: 20%;
          }

          & div:nth-child(4) {
            width: 7%;
          }

          .status {
            padding: 1rem;
            width: 9rem;
            border-radius: 8rem;
            @include flexbox(row, center, center);

            &.active {
              background-color: $clr-green-50;
              color: $clr-green-500;
            }

            &.inactive {
              background-color: $clr-red-50;
              color: $clr-red-500;
            }

            &.deactivated {
              background-color: $clr-gray-50;
              color: $clr-gray-500;
            }
          }
        }
      }

      & .scroll-list-wrapper {
        width: 100%;
        overflow-y: scroll;
        scrollbar-width: none;
        scroll-behavior: smooth;
        padding-bottom: 5rem;

        & .list {
          width: 100%;
          height: 50px;
          display: flex;
          background: $clr-white;
          font-size: $font-size-xbody;
          font-weight: 400;
          color: $clr-gray-500;
          cursor: pointer;
          transition: $btn-transition;

          & .trainee-name-profile {
            width: 18rem;
            display: flex;
            gap: 1.6rem;
            align-items: center;
            overflow-x: hidden;

            & .profile-image {
              width: 3.2rem;
              height: 3.2rem;
              border-radius: 50%;
              background: $clr-gray-500;
            }

            & .trainee-name {
              width: max-content;
              display: flex;
              align-items: center;
              overflow-x: hidden;
            }
          }

          & .status {
            width: 10rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            overflow-x: hidden;
          }

          & .contact {
            width: 22rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            overflow-x: hidden;

            & .email {
              display: flex;
              gap: 1.089rem;
            }

            & .telephone {
              display: flex;
              gap: 1.089rem;
            }
          }

          & .specialization {
            width: 18rem;
            display: flex;
            align-items: center;
            position: relative;
            overflow-x: hidden;

            & span {
              color: $clr-gray-500;
              font-size: $font-size-xbody;
              font-weight: 400;
            }
          }

          & .cohort {
            width: 15rem;
            display: flex;
            align-items: Center;
            position: relative;
            overflow-x: hidden;

            & span {
              color: $clr-gray-500;
              font-size: $font-size-xbody;
              font-weight: 400;
            }
          }

          & .date-added {
            width: 13rem;
            display: flex;
            align-items: center;
            overflow-x: hidden;
          }

          & .ellipsis {
            display: flex;
            align-items: center;
            position: relative;
          }
        }
      }

      & .list:hover {
        background: $clr-gray-50;
      }

      & .cohort-list-dividers {
        width: 100%;
        height: 1px;
        background: $clr-gray-50;
        margin: 24px 0;
      }
    }
  }
}
