<div class="container">
    <div class="add-trainer" (click)="goToAddUserForm()">
        <img src="../../../../../assets/Images/png/add trainer image.png" alt="add-trainer-image">
        <h3>Add Trainer</h3>
        <p>Select 'Add Trainer' to create a trainer account and assign them the role to manage trainees</p>
    </div>

    <div class="add-trainee" (click)="goToAddUserForm()">
        <img src="../../../../../assets/Images/png/add trainee image.png" alt="add-trainee-image">
        <h3>Add Trainee</h3>
        <p>Select 'Add Trainer' to create a trainer account and assign them the role to manage trainees</p>
    </div>
</div>
