@import '../../../../../styleSheet/variables';
@import '../../../../../styleSheet/mixins';

.container-with-list { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem;
    overflow-y: hidden;

    & .wrapper {
        width: 100%;
        background: $clr-white;
        padding: 1.6rem;
        border-radius: .8rem;

        & app-search {
            margin-bottom: 16.5px;
        }
        
        & .divider {
            margin-bottom: 36px;
            width: 100%;
            height: 1px;
            background: $clr-gray-100;
        }


        

        .tabs {
            display: flex;
            gap: 1.6rem;
            height: 4.2rem;
            width: max-content;
        }

        .tabs a {
            text-decoration: none;
            color: $clr-gray-500;
            font-size: $font-size-subtitle-2;
            font-weight: 500;
            border-bottom: .1rem solid transparent;
        }

        .tabActive {
            text-decoration: none;
            color: $clr-gray-500;
            font-size: $font-size-subtitle-2;
            font-weight: 500;
            border-bottom: .1rem solid $clr-primary-500;
        }
    
        & .no-search-results {
            display: flex;
            justify-content: center;
            margin-top: 3rem;
            font-size: $font-size-subtitle-2;
            font-weight: 500;
            color: $clr-gray-400;
        }
    
        & .title-enrolled {
            display: flex;
            justify-content: space-between;
            font-size: $font-size-subtitle;
            font-weight: 600;
            color: $clr-gray-700;
            margin-bottom: 2.5rem;
        }
    
        & .divider-2 {
            margin-bottom: 31px;
            width: 100%;
            height: 1px;
            background: $clr-gray-100;
        }
    
        
    }

}


// No data container styles
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; 
    padding-top: 15rem;
    gap: 2.4rem;

    & .add-trainer, & .add-trainee {
        width: 36.3rem;
        height: 28.1rem;
        border-radius: .8rem;
        padding: 1.6rem;
        background: $clr-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: $btn-transition;
        cursor: pointer;

        & img {
            width: 14.7rem;
            height: 14.7rem;
            margin-bottom: 2rem;
        }

        & h3 {
            font-size: $font-size-body;
            font-weight: 700;
            color: $clr-gray-800;
            margin-bottom: 1.9rem;
        }

        & p {
            font-size: $font-size-xbody;
            font-weight: 400;
            color: $clr-gray-500;
        }
    }

    // & .add-trainee {
    //     width: 36.3rem;
    //     height: 28.1rem;
    //     border-radius: .8rem;
    //     padding: 1.6rem;
    //     background: $clr-white;
    // }
}
