@import "../../../../styleSheet/mixins";
@import "../../../../styleSheet/variables";

.container {
  height: 100vh;
  width: 100%;
  @include flexbox(row, flex-start, flex-start);
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background: $clr-white;

  .quiz-builder-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .question-area {
    flex: 1;
    padding: 20px;
    @include flexbox(row, flex-start, flex-start);

    .question {
      flex: 1;
    }

    .aside {
      width: 23.1rem;
    }
  }
}
