<section class="materials-container">
  <header>
    <h3>Learning Materials</h3>
    <a> View all</a>
  </header>

  <section class="materials-section">
    <div class="material-card">
      <div class="material-content">
        <div class="material-title">
          <img src="../../../../assets/Images/jpeg/ux_material-img.jpeg" alt="material-img">
          <div class="text-grp">
            <span>Course</span>
            <p>Master UI/UX Design</p>
          </div>
          <p></p>
        </div>

        <div class="text-grp course-grp">
          <span>Content</span>
          <div class="text-grp-inner">
            <img src="../../../../assets/Images/svg/material-icon.svg" alt="">
            <p>5 Materials</p>
          </div>
        </div>

        <div class="text-grp completion-grp">
          <span>Completion</span>
          <div class="text-grp-inner">
            <div class="progress-circle"></div>
            <p>0%</p>
          </div>
        </div>

        <div class="text-grp deadline-grp">
          <span>Deadline</span>
          <div class="text-grp-inner">
            <img src="../../../../assets/Images/svg/time-icon.svg" alt="">
            <p>12hrs</p>
          </div>
        </div>

      </div>

      <button type="button">
        Continue
      </button>
    </div>
  </section>
</section>
