<div class="container">
    <app-searchbar 
        [placeholder]="'search here...'"
        [showAddButton]="false"
    />

    <div class="divider"></div>

    <div class="content" *ngIf="!empty">
        <app-quiz-list
            [assessmentType]="'quiz'"
            (dataEmpty)="handleChildEmpty($event)"
        />
        <app-quiz-list
            [assessmentType]="'lab'"
            (dataEmpty)="handleChildEmpty($event)"
        />
        <app-quiz-list
            [assessmentType]="'presentation'"
            (dataEmpty)="handleChildEmpty($event)"
        />
    </div>

    <div class="no-content" *ngIf="empty">
        <img src="../../../../assets/Images/empty-hint-icon.jpg" alt="empty">
        <p>Nothing to show...</p>
    </div>

</div>


