<div class="container">
  <div class="wrapper">
    <div class="select">
      <label for="timeLimit">
        <img src="assets/Images/png/clock.png" alt="clock icon" />
        <p>Time Limit</p>
      </label>
      <p-dropdown
        [options]="timeLimit"
        optionLabel="name"
        id="timeLimit"
        placeholder="select level"
      ></p-dropdown>
    </div>
    <div class="select">
      <label for="timeLimit">
        <img src="assets/Images/png/gem.png" alt="icon" />
        <p>Points</p></label
      >
      <p-dropdown
        [options]="timeLimit"
        optionLabel="name"
        id="timeLimit"
        placeholder="select level"
      ></p-dropdown>
    </div>
    <div class="select">
      <label for="timeLimit">
        <img src="assets/Images/png/interactive.png" alt="icon" />
        <p>Answer Options</p></label
      >
      <p-dropdown
        [options]="timeLimit"
        optionLabel="name"
        id="timeLimit"
        placeholder="select level"
      ></p-dropdown>
    </div>
    <div class="select">
      <label for="timeLimit">
        <img src="assets/Images/png/interactive.png" alt="icon" />
        <p>Add Code snippet</p></label
      >
      <p-dropdown
        [options]="timeLimit"
        optionLabel="name"
        id="timeLimit"
        placeholder="select level"
      ></p-dropdown>
    </div>
  </div>
</div>
