<div class="empty-hint-container">
  <section class="empty-hint">
    <div class="empty-hint-info">
      <img src="../../../../assets/Images/empty-hint-icon.jpg" alt="empty-hint-image">
      <h2>No Specializations Added</h2>
      <p>
        It looks like you haven’t added any specializations yet.
        Specializations help you organize trainees based on their focus areas.
        Click on the 'Add New Specialization' button to create a new specialization
      </p>
    </div>
    <button type="button" class="add-spec-btn" (click)="navigateToCreate()">
      Add New Specialization
    </button>
  </section>
</div>
