<p-tabView>
    <p-tabPanel header="Assignments">
        <p>
            <app-view-assignments
                [cardType]="'Graded Assignments'"
            />
            <app-view-assignments
                [cardType]="'Ungraded Assignments'"
            />
        </p>
    </p-tabPanel>
    <p-tabPanel header="Grade History">
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
    </p-tabPanel>
</p-tabView>

<div class="container">
    
</div>
