<div class="user-creation__container">
  <div class="user-creation__wrapper">
    <div class="user-creation__text">
      <h3>Create New Password</h3>
      <p>
        Enter the email address associated with your account to request for a
        code via email
      </p>
    </div>
    <form
      class="user-creation__form"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="inputs">
        <app-input-field
          label="Email"
          type="eamil"
          placeholder="Enter email here"
          formControlName="email"
        />
        <app-message
          *ngIf="
            resetPasswordForm.get('email')?.hasError('required') &&
            (resetPasswordForm.get('email')?.touched ||
              resetPasswordForm.get('email')?.dirty)
          "
          type="warning"
          title="Warning"
          message="Email is required."
        />

        <!-- <app-message
          *ngIf="
            resetPasswordForm.get('email')?.hasError('email') &&
            (resetPasswordForm.get('email')?.touched ||
              resetPasswordForm.get('email')?.dirty)
          "
          type="error"
          title="Error"
          message="Please check, you entered a wrong email."
        /> -->

        <app-message
          *ngIf="showError"
          type="error"
          title="Error"
          message="Please check, you entered a wrong email."
        />
        <app-message
          *ngIf="showSuccess"
          type="success"
          title="Success"
          message="OTP sent successfully, Please check your mail."
        />
      </div>

      <div class="button-div">
        <button
          class="btn"
          [class]="isLoading ? 'load' : ''"
          type="submit"
          [disabled]="resetPasswordForm.invalid"
        >
          <ng-container *ngIf="!isLoading"> Reset Password </ng-container>
          <ng-container *ngIf="isLoading">
            <span class="spinner"></span>
            <span> Submitting </span>
          </ng-container>
        </button>
        <p>Need help? <span>Please contact support</span></p>
      </div>
    </form>
  </div>
</div>
