<section class="hero-container content-container">
  <div class="hero-section">
    <div class="hero-intro">
        <h1 class="hero-title">Empower Your Learning Journey</h1>
        <p class="hero-description">
          Unlock a world of knowledge with our interactive and personalized learning
          platform. Whether you're a trainer or a trainee, experience seamless
          course management, engaging content, and real-time progress tracking — all
          in one place
        </p>


        <div class="reviews">
          <p>20K Reviews</p>
          <div class="avatars">
            <div class="avatar">
              <img src="assets/Images/png/avatar-1.png" alt="avatar" />
            </div>
            <div class="avatar">
              <img src="assets/Images/png/avatar-1.png" alt="avatar" />
            </div>
            <div class="avatar">
              <img src="assets/Images/png/avatar-1.png" alt="avatar" />
            </div>
            <div class="avatar">
              <img src="assets/Images/png/avatar-1.png" alt="avatar" />
            </div>
          </div>
        </div>
      </div>

      <div class="hero-image">
        <img class="main-hero" src="assets/Images/svg/hero-image.svg" alt="hero-image" />
        <img
          class="secondary-hero"
          src="assets/Images/png/hero-image-2.png"
          alt="hero-image"
        />
      </div>

      <div class="stats">
        <div class="stat">
          <h1>100%</h1>
          <p>
            Our Learning managemnet system Guaranties andprovides valuable data and
            analytics
          </p>
        </div>
        <div class="stat">
          <h1>40x</h1>
          <p>
            Maximum effectiveness and efficiency, outshining all other tools for
            learning management
          </p>
        </div>
      </div>

  </div>

  <div class="companies">
    <p>100 + Big brands trust us</p>
    <img src="assets/Images/svg/slack.svg" alt="slack" />
    <img src="assets/Images/svg/google.svg" alt="slack" />
    <img src="assets/Images/svg/deloitte.svg" alt="slack" />
    <img src="assets/Images/svg/ibm.svg" alt="slack" />
    <img src="assets/Images/svg/samsung.svg" alt="slack" />
  </div>

</section>
