@import '../../../../../styleSheet/grade_management_mixins';
@import '../../../../../styleSheet/user_management_dashboard';

.top-trainees {
    @include cards;
    width: fit-content;
    height: 65vh;
    border-radius: .8rem;
    overflow-y: scroll;
    
    
    & .card-title {
        display: flex;
        justify-content: space-between;
        font-family: $font-lato;

        & .title-and-icon {
            @include cardTitle;
            margin-bottom: 1.6rem;
            font-size: $font-size-body;
            color: $clr-gray-700;
        }

        & .trainee-count {
            font-size: $font-size-body;
            font-weight: 600;
            color: $clr-gray-500;
        }
    }

    & .table-header {
        @include tableHeader;
        margin-bottom: 1.6rem;
        padding: 0 2.4rem;
        font-family: $font-lato;
    }

    & .table-trainee-list {
        @include tableTraineeList;
        padding: 0 2.4rem;
    }

    & .divider {
        @include divider;
        padding: 0 2.4rem;
    }

}