@use '../../../../../styleSheet/mixins' as *;

::ng-deep {
  .delete-dialog {
    .p-dialog-header {
      display: none;
    }

    .p-dialog-content {
      border-radius: 0.8rem;
      padding: 1.6rem;
      overflow:hidden;
    }
  }

  .p-dialog-mask.p-component-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
  }
}

.add-container {
    height: 37.1rem ;
    padding: 1.6rem;
    @include flexbox($direction: column, $justify:center, $align:center);
    gap: 4.1rem;
    background-color: #fff;

    .add-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.6rem;

      h3 {
        font-size: 2.4rem;
      }

      p {
        text-align: center;
        font-size: 1.6rem !important;
        color: #676767;
      }
    }

    .delete-actions {
      .cancel-btn {
        margin-right: 2.7rem;
      }
    }
  }








