@import '../../../../styleSheet/grade_management_mixins';

.container {
    display: flex;
    justify-content: center;

    .modal-like-card {
        margin-top: 5rem;
        @include modal-like-card;
    }
}