@import "../../../../styleSheet/grade_management_mixins";
@import "../../../../styleSheet/user_management_dashboard";

.container {
  // display: flex;
  // justify-content: center;

  .modal-like-card {
    margin-top: 5rem;
    @include modal-like-card;
  }
}

.main-list {
  width: 100%;

  & .add-quiz-lab-presentation-icons {
    display: flex;
    gap: 3.801rem;
    margin-bottom: 3.8rem;

    & .add-quiz {
      @include addAssessmentBtns;
      cursor: pointer;
    }

    & .add-labs {
      @include addAssessmentBtns;
      cursor: pointer;
    }

    & .add-presentation {
      @include addAssessmentBtns;
    }
  }

  & .top-three {
    display: flex;
    gap: 1.9rem;
    margin-bottom: 1.6rem;

    & .recent-lecture-stats {
      @include cards;
      width: 33.9rem;
      height: 23.8rem;
      padding: 2.4rem 1.6rem;

      & .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.65rem;

        & .title-and-info-icon {
          display: flex;
          align-items: center;
          gap: 1.3rem;

          & span {
            font-size: $font-size-body;
            color: $clr-gray-700;
            font-weight: 600;
          }
        }

        & span {
          font-size: $font-size-xbody;
          font-weight: 400;
          color: $clr-gray-500;
        }
      }

      & .content {
        display: flex;
        flex-direction: column;

        & span:nth-child(1) {
          font-size: $font-size-xbody;
          color: $clr-gray-500;
          font-weight: 400;
          margin-bottom: 0.8rem;
        }

        & span:nth-child(2) {
          font-size: $font-size-subtitle;
          color: $clr-gray-700;
          font-weight: 600;
          margin-bottom: 0.9rem;
        }

        & span:nth-child(3) {
          display: flex;
          gap: 1rem;
          margin-bottom: 2rem;

          & span {
            font-size: $font-size-xbody;
            font-weight: 400;
            color: $clr-gray-500;
          }
        }

        & span:nth-child(4) {
          display: flex;
          justify-content: space-between;
          align-items: center;

          & span {
            font-size: $font-size-xbody;
            font-weight: 700;
            color: $clr-gray-500;
            cursor: pointer;
          }

          & svg {
            cursor: pointer;
          }
        }
      }
    }

    & .assignment-stats {
      @include cards;
      width: 33.9rem;
      height: 23.8rem;
    }
  }

  & .top-trainees {
    @include cards;
    width: 96.6rem;
    height: 22rem;
    border-radius: 0.8rem;
    overflow-y: scroll;

    & .card-title {
      @include cardTitle;
      margin-bottom: 1.6rem;
    }

    & .table-header {
      @include tableHeader;
      margin-bottom: 1.6rem;
    }

    & .table-trainee-list {
      @include tableTraineeList;
    }

    & .divider {
      @include divider;
    }
  }
}
