@use '../mixins' as *;

.navigations{
  display: flex;
  justify-content: end;
  .nav-list{
    margin-top: 4.1rem;
    margin-bottom: 2.7rem;
    margin-left: 1.6rem;
    width: 100% !important;
    .nav-settings{
      li{
        @include list-item;
        background-color: transparent;
        transition: background-color .3s ease-in-out;

        &.active-nav {
          @include active-nav
        }
      }
      margin-top: 10rem;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }
  }
}
