<div class="container">
    <div class="wrapper">
        <div class="back-button" >
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.921 7.5L7.714 13.292L7 14L0 7L7 0L7.714 0.708L1.92 6.5H14V7.5H1.921Z" fill="#676767"/>
            </svg>
            <span>Back</span>
        </div>
        <div class="cohort-info">
            <span>Cohort Information</span>
            <p>Enter the necessary details to create a new cohort, including its name, specialization, and training dates. This will help you organize trainees effectively based on their training period</p>
        </div>
        <form >
            
        </form>
    </div>

</div>