@import "../../../../../styleSheet/variables";
@import "../../../../../styleSheet/button";
@import "../../../../../styleSheet/user_management_form";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  background: #fdfdfc;

  & .wrapper {
    width: 100%;
    height: 85vh;
    overflow-y: hidden;
    margin-top: 2.6rem;
    padding-left: 8rem;
    padding-right: 8rem;
    scrollbar-width: none;

    & .back-button {
      width: fit-content;
      display: flex;
      align-items: Center;
      gap: 0.4rem;
      margin-bottom: 2.1rem;
      cursor: pointer;

      & span {
        padding-bottom: 0.2rem;
        border: none;
        border-bottom: 0.1rem solid $clr-gray-500;
        color: $clr-gray-500;
        font-size: $font-size-body;
        font-weight: 400;
      }
    }

    & .cohort-info {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      margin-bottom: 5rem;

      & span {
        font-size: $font-size-subtitle;
        font-weight: 600;
        color: $clr-gray-800;
      }

      & p {
        font-size: $font-size-body;
        font-weight: 400;
        color: $clr-gray-500;
      }
    }

    & form {
      height: 80vh;
      overflow-y: scroll;
      padding-bottom: 14rem;

      & .first-last-name {
        height: fit-content;
        display: flex;
        justify-content: space-between;
        // align-items: center;
        gap: 2.4rem;

        & .first-name {
          height: fit-content;
        }
        & .last-name {
          height: fit-content;
        }
      }

      & .gender-country {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        gap: 4.9rem;

        div:first-of-type {
          width: 100%;
        }

        div:last-of-type {
          width: 100%;
        }

      }

      & button {
        width: 100%;
        height: 5.4rem;
        border-radius: 0.8rem;
      }
    }
  }
}

.form-field {
  @include FormField;
  margin-bottom: 1.6rem;
}

input {
  @include InputEl;
}
input:focus {
  @include InputElFocus;
}

select {
  @include SelectEl;
}
select:focus {
  @include SelectElFocus;
}

#optional {
  color: $clr-gray-300;
  font-style: italic;
  font-weight: 400;
}

.image-wrapper {
  height: 20.7rem;
  border: 1px dashed $clr-gray-200;
  border-radius: 9px;
  background: $clr-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

    & .upload-input{
        display: none;
    }

    & .change-image {
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: white;
        border-radius: 50%;
        padding: 1rem;
    }

    & img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 20.7rem;
        object-fit: cover;
        cursor: pointer;
    }

    & .add-image-icon {
        position: absolute;
        z-index: 4;

        display: flex;
        flex-direction: column;
        align-items: center;

    & .upload-input{
        display: none;
    }

    & .change-image {
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: white;
        border-radius: 50%;
        padding: 1rem;
    }

    & img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 20.7rem;
        object-fit: cover;
        cursor: pointer;
    }

    & .add-image-icon {
        position: absolute;
        z-index: 4;

        display: flex;
        flex-direction: column;
        align-items: center;

      & svg {
        margin-bottom: 1.4rem;
      }

      & p {
        font-size: 1.2rem;
        font-family: "Poppins, Arial";
        color: $clr-primary-500;
        font-weight: 400;
      }

      & p {
        font-size: 1.2rem;
        font-family: "Poppins, Arial";
        color: $clr-gray-500;
        font-weight: 400;
      }
    }
}

}


.error-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error {
  text-align: right;

  span {
    color: $clr-red-500;
    font-size: $font-size-xbody;
  }
}
