@import '../../../../../styleSheet/grade_management_mixins';
@import '../../../../../styleSheet/variables';

.container {
    width: 100%;
    height: fit-content;
    min-width: 97rem;
    margin-bottom: 5rem;
}

.container:hover {
    .title-quiz-count {
        transition: $btn-transition;
        border: none;
        border-bottom: .1rem solid $clr-gray-50;
    }
}

.title-quiz-count {
    @include title-count;
    width: 100%;
    margin-bottom: 1.7rem;
    border-bottom: .1rem solid transparent;
    padding: .5rem 0;

    .assessmentType {
        font-size: 2.4rem;
        font-family: $font-lato;
        color: #292929;
        font-weight: 700;
    }
}

.assessment-card-list-not-hidden {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5rem;
    row-gap: 5rem;
    overflow-x: hidden;
    transition: .5s ease;
}

.assessment-card-list {
    width: 100%;
    height: 35.6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Default to 4 columns */
    gap: 5rem;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: .5s ease;
}

.assessment-card {
    width: 31rem;
    min-width: 31rem;
    height: 34.4rem;
    border-radius: .8rem;
    padding: 1.6rem;
    border: .1rem solid $clr-gray-100;
    display: flex;
    flex-direction: column;
    align-items: space-between;

    & img {
        width: 27.8rem;
        height: 11.4rem;
        object-fit: cover;
        margin-bottom: 1.6rem;
        transition: .5s ease;
    }

    & .detail-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & p {
            font-size: $font-size-subtitle-2;
            font-weight: 600;
            color: $clr-gray-700;
        }

        & .quiz-details {
            height: 1.7rem;
            width: 100%;
            display: flex;
            align-items: center;

            p.circle {
                display: inline-block;
                width: .6rem;
                height: .6rem;
                background: #d9d9d9;
                border-radius: 50%;
                margin-right: 1rem;
            }

            p {
                font-size: $font-size-xbody;
                font-weight: 400;
                color: $clr-gray-500;
                margin-right: .6rem;
            }
        }

        & .quiz-description {
            font-size: $font-size-xbody;
            font-weight: 400;
            color: $clr-gray-300;
        }

        & button {
            width: 100%;
            height: 5.4rem;
            border-radius: .8rem;
            border: .1rem solid $clr-gray-50;
            color: $clr-primary-500;
            font-weight: 700;
            font-family: $font-lato;
            background: transparent;
            outline: none;
            cursor: pointer;
            transition: $btn-transition;
        }

        & button:hover {
            background: $clr-primary-500;
            color: $clr-white;
            border: none;
        }
    }
}

.assessment-card:hover {
    & img {
        transform: scale(1.12);
    }
}

.empty-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & img {
        width: 7rem;
        height: 7rem;
    }
}

.show-more, .show-less {
    display: flex;
    justify-content: right;
    color: $clr-gray-500;
    cursor: pointer;
}



@media screen and (max-width: 1480px) {
    .assessment-card-list-not-hidden {
        grid-template-columns: repeat(3, 1fr); /* Change to 3 columns for screens <= 1400px */
        column-gap: 2rem;
    }
}
