<div class="card" *ngIf="trainees$ | async as trainees">
  <p-table [value]="trainees" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Trainee Name</th>
        <th>Email</th>
        <th>Specialization</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-trainee>
      <tr>
        <td>{{ trainee.name }}</td>
        <td>{{ trainee.email }}</td>
        <td>{{ trainee.specialization }}</td>
        <td>
          <input type="checkbox" />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
