@use '../../../../../styleSheet/_typography.scss' as *;

.create {
  margin-right: 6.9rem;
  display: flex;
  flex-direction: column;

  gap: 1.6rem;
  p {
    color: #676767;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: .9rem;
    img {
      width: 1.4rem;
      height: 1.4rem;
    }
    .back-link {
      cursor: pointer;
      p {
        padding-bottom: 5px;
      }
      text-decoration: underline;
    }
  }


}
