@use "./styleSheet/base" as *;
// @use "./styleSheet/typography" as *;
// @use "./styleSheet/variables" as *;
@use "./styleSheet/mixins" as *;
@use "@angular/material" as mat;
@include mat.core();
@import "primeicons/primeicons.css";

@import './styleSheet/variables';
@import './styleSheet/typography';

// Define palettes
$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);

// Create theme object
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles
@include mat.all-component-themes($theme);

.accordion {
  .p-accordion {
    width: 100%;
    @include flexbox(column, flex-start, center);
    gap: 2rem;

    .p-accordion-header {
      color: #636d79;
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 10px;

      .p-accordion-toggle-icon {
        font-size: 1.5rem;
        color: $clr-primary-500;
      }
    }

    p-accordionTab {
      width: 100%;
      border: 0.5px solid #c2c2c2;
      padding: 2.6rem;

      .topic {
        color: #636d79;
        font-size: 1.4rem;
      }
    }

    .p-accordion-header-link {
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-between;
      background: none;
      border: none;
    }
  }
}


.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
  flex-grow: 0 !important; 
}




// Calendar styles for PrimeNg
.p-datepicker .p-datepicker-header {
  height: fit-content;
  margin-bottom: 1rem;
}

#pn_id_1_panel {
  width: 241.35px;
  height: 238px;
  padding: 20px;
  border-radius: .8rem;
  border: 1px solid $clr-gray-50;
}

.p-datepicker-header {
  border: none;
}

button.p-ripple {
  width: 2.765rem;
  height: 2.765rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

//edit calendar date heading 
.p-datepicker-title {
  font-family: $font-lato;
  color: #222222;
  display: flex;
  gap: .5rem;
}

thead.ng-tns-c1685646730-0 {
  font-family: $font-lato;
  color: #AAAAAA;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

span.p-ripple.p-element.ng-tns-c1685646730-0.p-highlight.p-datepicker-current-day.ng-star-inserted {
  background: #1A75FF;
  color: $clr-white;
}

// .p-datepicker-prev-icon {
//   background: yellow;
// }