@use "./styleSheet/base" as *;
@use "./styleSheet/typography" as *;
@use "./styleSheet/variables" as *;
@use "./styleSheet/mixins" as *;
@import "primeicons/primeicons.css";

.accordion {
  .p-accordion {
    width: 100%;
    @include flexbox(column, flex-start, center);
    gap: 2rem;

    .p-accordion-header {
      color: #636d79;
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 10px;

      .p-accordion-toggle-icon {
        font-size: 1.5rem;
        color: $clr-primary-500;
      }
    }

    p-accordionTab {
      width: 100%;
      border: 0.5px solid #c2c2c2;
      padding: 2.6rem;

      .topic {
        color: #636d79;
      }
    }

    .p-accordion-header-link {
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
}
