<div class="container">
  <div class="wrapper">
    <div class="back-button" (click)="goBack()">
      <svg
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.921 7.5L7.714 13.292L7 14L0 7L7 0L7.714 0.708L1.92 6.5H14V7.5H1.921Z"
          fill="#676767"
        />
      </svg>
      <span>Back</span>
    </div>
    <div class="cohort-info">
      <span>User Information</span>
      <p>
        Fill in the required details to create a new user profile. Ensure that
        all necessary information, such as the user's full name, user role, and
        password are accurate.
      </p>
    </div>
    <form [formGroup]="trainerForm" (ngSubmit)="onSubmit()">
      <div class="form-field email">
        <app-input-field
          type="email"
          label="Email"
          [required]="true"
          formControlName="email"
          placeholder="Enter email name here"
        />
      </div>

      <div class="first-last-name">
        <div class="form-field first-name">
          <app-input-field
            label="First name"
            [required]="true"
            formControlName="firstName"
            placeholder="Enter first name here"
          />
        </div>
        <div class="form-field last-name">
          <app-input-field
            label="Last name"
            [required]="true"
            formControlName="lastName"
            placeholder="Enter last name here"
          />
        </div>
      </div>

      <div class="gender-country">
        <div class="form-field gender">
          <div class="label-wrapper">
            <label for="gender">Gender</label>
            <span>*</span>
          </div>
          <select name="gender" id="gender" formControlName="gender">
            <option *ngFor="let gender of allGenders" [value]="gender.sex">
              {{ gender.sex }}
            </option>
          </select>
        </div>
        <div class="form-field country">
          <div class="label-wrapper">
            <label for="country">Country</label>
            <span>*</span>
          </div>
          <select name="country" id="country" formControlName="country">
            <option
              *ngFor="let country of restCountries"
              [value]="country.id"
            >
              {{ country.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-field address">
        <app-input-field
          type="tel"
          label="Phone number"
          [required]="true"
          formControlName="phoneNumber"
        />
      </div>

      <div class="specialization">
        <label for="specialization">Assign Specialization</label>
        <select
          formControlName="assignSpecialization"
          id="specialization-select-list"
        >
          <option
            *ngFor="let option of allSpecializations$ | async"
            [value]="option.id"
          >
            {{ option.name }}
          </option>
        </select>
      </div>

      <div class="form-field upload-photo">
        <div class="label-wrapper">
          <label for="university-completed">Upload Photo</label>
          <span id="optional">(Optional)</span>
        </div>
        <div class="image-wrapper" (click)="fileInput.click()">
          <input
            type="file"
            #fileInput
            accept=".png, .jpg, .jpeg"
            style="display: none"
            (change)="onFileSelected($event)"
            formControlName="profilePhoto"
          />
          <mat-icon svgIcon="add-image"></mat-icon>
          <p *ngIf="!selectedFileName">Add image here</p>
          <p *ngIf="selectedFileName">{{ selectedFileName }}</p>
          <p>Supports: PNG, JPG, JPEG</p>
        </div>
      </div>

      <button type="submit" class="btn" [disabled]="trainerForm.invalid">
        Continue
      </button>
    </form>
    <app-feedback
      [visible]="feedbackVisible"
      [title]="feedbackTitle"
      [message]="feedbackMessage"
      [imageSrc]="feedbackImageSrc"
      (closeDialog)="onCloseFeedback()"
    ></app-feedback>
  </div>
</div>
