@use'../mixins' as *;

.trainer-nav-list{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  li{
    @include list-item;
    background-color: transparent;
    transition: background-color .3s ease-in-out;

    &.active-nav {
      @include active-nav
    }
  }

  .nav-settings{
    li{
      @include list-item;
      background-color: transparent;
      transition: background-color .3s ease-in-out;

      &.active-nav {
        @include active-nav
      }
    }
    @include vertical-flex-spacing;
  }
}
