<footer class="home-section">
  <div class="footer content-container">
    <div class="logo">
      <img src="assets/Images/svg/logo-light.svg" alt="logo" />
      <div class="socials">
        <img src="assets/Images/svg/x.svg" alt="" />
        <img src="assets/Images/svg/ig.svg" alt="" />
        <img src="assets/Images/svg/fb.svg" alt="" />
      </div>
    </div>

    <div class="quick-links-section">
      <h3>Quick Links</h3>

      <div class="quick-links">
        <a href="#">Home</a>
        <a href="#">Abuot</a>
        <a href="#">Category</a>
        <a href="#">FAQ</a>
      </div>
    </div>
    <div class="quick-links-section">
      <h3>Legal</h3>

      <div class="quick-links">
        <a href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Cookie Policy</a>
      </div>
    </div>
    <div class="quick-links-section">
      <h3>Contact Us</h3>

      <div class="quick-links">
        <a href="#">Email: support&#64;traningsuite.com</a>
        <a href="#">Phone: +1 (555) 555-5555</a>
      </div>
    </div>
    <div class="quick-links-section">
      <h3>Connect with us</h3>

      <div class="quick-links">
        <a href="#">Support&#64;shortengo.com</a>
        <a href="#">+44678-2345-243434</a>
      </div>
    </div>
  </div>
</footer>
