@mixin list-item{
  height: 3.75rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  a{
    padding-left: 1rem;
    padding-block: .4rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
}

@mixin active-nav {
  background-color: #F98416;
  transition: background-color 0.3s ease;
  a {
    color: #fff;
    transition: color 0.3s ease;
    svg {
      path {
        fill: #fff;
        transition: fill 0.3s ease;
      }
    }
  }
}


@mixin vertical-flex-spacing( $gap: 1.25rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin nav-container {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin nav-item($margin-bottom: 1rem) {
  margin-bottom: $margin-bottom;
  @include list-item;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;



  &.active-nav {
    @include active-nav;
  }
}


@mixin nav-settings($margin-bottom: 4rem) {
  margin-bottom: $margin-bottom;
  @include vertical-flex-spacing;

  li {
    @include nav-item(0);
  }
}
