<div class="container">
    <div class="left-partition">
        <section class="top">
            <section class="top-left-card">
                <div class="total-trainees">
                    <img src="" alt="image">
                    <div class="details">
                        <span>Total Trainees</span>
                        <span>100 Trainees</span>
                    </div>
                </div>
                <div class="trainers">
                    <img src="" alt="image">
                    <div class="details">
                        <span>Trainers</span>
                        <span>112</span>
                    </div>
                </div>
                <div class="average-learning-time">
                    <img src="" alt="image">
                    <div class="details">
                        <span>Average Learning Time</span>
                        <span>42 Minutes</span>
                    </div>
                </div>
            </section>
            <section class="top-right-card"></section>
        </section>
        <div class="bottom">
            asdf;lk
        </div>
    </div>
    <div class="right-partition">
        <section class="top"></section>
        <section class="bottom"></section>
    </div>
</div>